<?xml version="1.0" ?>
<config>
	<!-- drivertype: only "OPENGL" is supported -->
	<!-- near_clipping and far_clipping set the the distances of the clipping planes. Note that too small near_clipping or too large far_clipping can cause z-fighting errors. -->
	<!-- fullscreen: "1" is default. "0" for windowed and "1" to enable fullscreen. Usually windowed will be slower. -->
	<!-- use_screen_res: "1" is default. Use screen resolution automatically. Can be changed inside the game in the graphic options. -->
	<!-- res_x and res_y are only set when use_screen_res is "0". Can be used to set screen resolutions. This can be changed inside the game in the graphic options -->
	<!-- bitdepth: default is "32". Usually no reason to change this, but with very old cards which don't support 32-bit yet you could set it to "16" -->
	<!-- min_time: Minimum time per frame. If you increase this value the game updates less often! Maximal FPS is 1000/min_time. A fixed framerate can allow for smoother gameplay. Thought mostly it's sufficient to enable vsync. -->
	<!-- vsync: Enable monitor vsync with "1" (usually 60Hz). Disable with "0". When disabled you might get shearing in the screen updates -->
	<!-- freq: Was monitor frequency, but this is no longer supported. -->
	<!-- bi, tri and ani: Texture filtering. for bilinear, trilinear and anisotropic filtering. You can change that option in-game. bi is fastest, ani+tri the nicest. -->
	<!-- gouraud: default is "1". Gouraud shading, disabling could probably increase speed on some cards, but won't look so nice. --->
	<!-- particles: Particle settings can be changed in the graphic settings in-game. "0" for all particles on, "1" for weather effects off, "2" for all effects off.--->
	<!-- shadow: default is "1". Setting to "0" disables shadows. But usually makes no FPS difference as current shadow solution is cheap. So not recommended to change this. --->
	<!-- aa: Antialiasing. default is "1". A little smoother. Was a lot slower a few years ago, but no longer seems to make a big difference. --->
	<!-- mip: default is "1". Mipmapping looks a lot nicer for textures in the distance. --->
	<!-- tex16: default is "0". When set to "1" all textures are force to 16-bit. Usually no reason to do that (would save memory). --->
	<!-- tex32: default is "0". When set to "1" all textures are force to 32-bit. Usually no reason to do that, textures are 32 bit anyway. --->
	<!-- tex_qual: default is "0". When enabled some graphic-cards might do a nicer mip-mapping. --->
	<!-- tex_speed: default is "0". When enabled some graphic-cards might do a faster mip-mapping. --->
	<!-- light: default is "1". Can be changed in graphic options in-game. Changes between dynamic (nice but slow) and static light. Used only on platforms with es2 shaders (aka Android). --->
    <graphics drivertype="OPENGL" near_clipping="100.0" far_clipping="300000.0" fullscreen="1" use_screen_res="1" res_x="1024" res_y="768" bitdepth="32" min_time="1" vsync="1" freq="0" bi="1" tri="0" ani="1" gouraud="1" particles="0" shadow="1" aa="1" mip="1" tex16="0" tex32="0" tex_qual="0" tex_speed="0" light="1" />
    <input>
        <devices>
			<joystick dead_area="3276" max_area="32767" />
			<touch layout="0" placement="3" />
        </devices>
        <controller>
            <asteer type="AX" deviceType="JS" joystickId="0" axisId="0" goofy="0" analog="1" digital="0" dir="2" />
            <aacc type="AX" deviceType="JS" joystickId="0" axisId="3" goofy="0" analog="1" digital="0" dir="1" />
            <abrake type="AX" deviceType="JS" joystickId="0" axisId="3" goofy="1" analog="1" digital="0" dir="1" />
            <dleft type="BT" deviceType1="KB" joystickId1="0" buttonId1="37" stepSize1="0.500000" deviceType2="NO" joystickId2="0" buttonId2="0" stepSize2="0.500000" analog="0" digital="1" dir="1" />
            <dright type="BT" deviceType1="KB" joystickId1="0" buttonId1="39" stepSize1="0.500000" deviceType2="NO" joystickId2="0" buttonId2="0" stepSize2="0.500000" analog="0" digital="1" dir="1" />
            <dacc type="BT" deviceType1="KB" joystickId1="0" buttonId1="38" stepSize1="0.500000" deviceType2="NO" joystickId2="0" buttonId2="0" stepSize2="0.500000" analog="0" digital="1" dir="1" />
            <dbrake type="BT" deviceType1="KB" joystickId1="0" buttonId1="40" stepSize1="0.500000" deviceType2="NO" joystickId2="0" buttonId2="0" stepSize2="0.500000" analog="0" digital="1" dir="1" />
            <pause deviceType="KB" joystickId="0" buttonId="80" />
            <camera deviceType="KB" joystickId="0" buttonId="67" />
        </controller>
    </input>
	<!-- steering_style: 1 is default. 0 for classic steering as in hcraft 1.2  -->
	<!-- rotation_speed: how fast is the hover rotated. Higher value is faster rotation.  -->
	<!-- scale_rotation: rotation is slowed down when hover is speeded up. Should be between 0 (no slowdown) and 1  -->
	<!-- force_factor: The force which does move the hover -->
	<!-- side_factor: The force that moves the hover left-right (new in hcraft 1.3 and can be disabled when setting steering_style to 0 -->
	<steering steering_style="1" rotation_speed="0.460000" scale_min_speed="675.0" scale_rotation_controller="0.000000" scale_rotation_speed="0.828000" force_factor="660000.000000" brake_factor="180000.000000" side_factor="150000" scale_rolling="2.000000" scale_rolling_back="2.800000" max_rolling="57.000000" scale_pitch_flying="0.000000" scale_alignment="3.500000" relocate_no_coll="3000" relocate_freeze="500" resume_freeze="1500" />
	<!-- cam_behind: how far the camera is behind the hover -->
	<!-- cam_height: start height (relative to hover) -->
	<!-- cam_height_change: how fast the camera moves up/down when flying -->
	<!-- target_in_front: point at which the camera looks at (relativ to hover) -->
	<!--- cam_trailing: how fast will the camera rotate to the same view-vector as the hover. The higher the faster. 0 = no rotation -->
	<!--- cam_speed_factor: how much trailing behind depends on current speed -->
	<cameras>
		<camera cam_name="camera: far02" cam_behind="-238.000000" cam_height="95.000000" cam_height_upwards="1.750000" cam_height_downwards="8.000000" time_to_air="100" target_angle="18.000000" cam_trailing="0.999940" cam_speed_factor_slow="0.015000" cam_speed_factor_fast="0.043000" cam_fov_speed="1500" pitch_cam="0.4" pitch_target="0.42" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.0" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: mid01" cam_behind="-220.000000" cam_height="70.000000" cam_height_upwards="1.650000" cam_height_downwards="8.000000" time_to_air="100" target_angle="5.000000" cam_trailing="0.999950" cam_speed_factor_slow="0.015000" cam_speed_factor_fast="0.040000" cam_fov_speed="1500" pitch_cam="0.5" pitch_target="0.2" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.0" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: mid02 (tilting)" cam_behind="-220.000000" cam_height="70.000000" cam_height_upwards="1.650000" cam_height_downwards="8.000000" time_to_air="100" target_angle="5.000000" cam_trailing="0.999950" cam_speed_factor_slow="0.015000" cam_speed_factor_fast="0.040000" cam_fov_speed="1500" pitch_cam="0.3" pitch_target="0.2" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.25" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: near01" cam_behind="-170.000000" cam_height="50.000000" cam_height_upwards="1.400000" cam_height_downwards="4.000000" time_to_air="100" target_angle="5.000000" cam_trailing="0.999975" cam_speed_factor_slow="0.010000" cam_speed_factor_fast="0.010000" cam_fov_speed="1500" pitch_cam="0.8" pitch_target="0.1" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.0" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: near02 (tilting)" cam_behind="-170.000000" cam_height="50.000000" cam_height_upwards="1.400000" cam_height_downwards="4.000000" time_to_air="100" target_angle="5.000000" cam_trailing="0.999975" cam_speed_factor_slow="0.010000" cam_speed_factor_fast="0.010000" cam_fov_speed="1500" pitch_cam="0.8" pitch_target="0.1" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.3" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: first person (static)" cam_behind="-67.000000" cam_height="25.000000" cam_height_upwards="1.400000" cam_height_downwards="4.000000" time_to_air="100" target_angle="1.000000" cam_trailing="0.999988" cam_speed_factor_slow="0.010000" cam_speed_factor_fast="0.010000" cam_fov_speed="1500" pitch_cam="1.0" pitch_target="0.0" smooth_speed_y="50" smooth_max_y="10" cam_roll="0.0" cam_first_person="1" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="0.00" intro_cam_sqr_x="0.0000" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="-0.5" intro_cam_sqr_z="-0.00003" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: first person (tilting)" cam_behind="-67.000000" cam_height="25.000000" cam_height_upwards="1.400000" cam_height_downwards="4.000000" time_to_air="100" target_angle="1.000000" cam_trailing="0.999988" cam_speed_factor_slow="0.010000" cam_speed_factor_fast="0.010000" cam_fov_speed="1500" pitch_cam="1.0" pitch_target="0.0" smooth_speed_y="50" smooth_max_y="10" cam_roll="0.45" cam_first_person="1" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="0.00" intro_cam_sqr_x="0.0000" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="-0.5" intro_cam_sqr_z="-0.00003" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
		<camera cam_name="camera: far01" cam_behind="-295.000000" cam_height="120.000000" cam_height_upwards="1.750000" cam_height_downwards="4.000000" time_to_air="100" target_angle="15.000000" cam_trailing="0.999930" cam_speed_factor_slow="0.020000" cam_speed_factor_fast="0.040000" cam_fov_speed="1500" pitch_cam="0.2" pitch_target="0.25" smooth_speed_y="50" smooth_max_y="0" cam_roll="0.0" cam_first_person="0" cam_fov_default="2.5" cam_fov_factor="-1.2" intro_cam_x="-0.003" intro_cam_sqr_x="-0.00002" intro_cam_y="0.002" intro_cam_sqr_y="0.00002" intro_cam_z="0.04" intro_cam_sqr_z="0.00002" intro_time_reduced="1000" outro_time_max="9000" outro_cam_x="0" outro_cam_sqr_x="0" outro_cam_y="0.003" outro_cam_sqr_y="0.00001" outro_cam_z="0.01" outro_cam_sqr_z="0.00001" />
    </cameras>
    <physic>
        <settings timestep="0.020000" rollfriction="13000.000000" airconst="0.170000" gravity="5501.000000" wallfriction="200.000000" wallboundary="0.300000" collpush="500.000000" cushion="0.900000" slowfall="0.350000" />
        <physicobjects>
            <hover mass="125.000000" max_speed="2000.000000" />
        </physicobjects>
    </physic>
	<sound sfx_vol="1.000000" music_vol="0.800000" sfx_rolloff="1.000000" sfx_ref_dist="120.000000" sfx_max_dist="1800.000000" sfx_dist_model="AL_EXPONENT_DISTANCE_CLAMPED" />
    <hovers>
        <blob model="hc_blobshadow" height="30.0" />
        <hover name="id_hover1" model="Hover02" img="ui/selectH2.tga" points="0" lock="" />
        <hover name="id_hover2" model="Hover01" img="ui/selectH1.tga" points="36" lock="id_unlock2" />
        <hover name="id_hover3" model="Hover03" img="ui/selectH3.tga" points="72" lock="id_unlock3" />
        <particles sparkle_rot_min="0.7" sparkle_speed_min="0.65" />
    </hovers>
    <dlgMain caption="H-Craft Championship" />
    <i18n strings="ui/strings_us.xml" />
	<etc tutorial_done="0" disable_sound="0" url_buy="http://www.irrgheist.com/games.htm" keyboard="0"/>
	<!-- 0=not yet checked (no ads), < 0 display ads, > 0 no ads -->
	<billing adfree="0" />
</config>
